* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

body { 

}

.header {
background-color: #1F2937;
}

.container {
display: flex;
align-items: start;
justify-content: space-between;
max-width: 1200px;
margin: 0 auto;
}

.logo {
display: flex;
font-weight: 900;
color: #F9FAF8;
font-size: 24px;
padding: 22px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 12px;
    gap: 12px;
}

a {
    text-decoration: none;
}

li {
    display: flex;
    color: #F9FAF8;
    font-weight: 500;
    gap: 20px;
    padding: 12px;
    font-size: 15px;
}

.hero-container {
background-color: #1F2937;
}

.hero-content {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: 0 auto;
}

.text {
display: flex;
align-items: flex-start;
flex-direction: column;
color: #F9FAF8;
padding: 20px;
gap: 12px;
width: 50%;
}

img {
    display: flex;
    width: 450px;
    height: 250px;
    padding: 0 20px 40px 20px;
    object-fit: cover;
    
}

h1 {
    display: flex;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.button-header {
display: flex;
justify-content: center;
align-items: center;
background-color: #3882F6;
color: #F9FAF8;
border-radius: 8px;
width: 80px;
height: 30px;
}